body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color:black;
}

.gallery-container {
    position: relative;
    width: 50%;
    max-width: 800px;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #fff;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}
